:root {
    --black: #0E0F19;
    --dark-grey: #252741;
    --off-white: #F8F8F8;
    --primary: #7EC8B8;
    --title-font-size: 14rem;
    --large-font-size: 1.4rem;
    --section-header-font-size: 3rem;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-margin-top: 10vh;
    scroll-margin-bottom: 10vh;
}

html {
    background-color: var(--black);
    scroll-behavior: smooth;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(var(--black), 50%, #00000000);
    pointer-events: none;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(#00000000, 50%, var(--black));
    pointer-events: none;
}

.back-button {
    color: var(--primary);
    top: 50%;
    left: .5rem;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    position: fixed;
    font-size: var(--large-font-size);
    text-decoration: none;
}

.spacer {
    height: 20rem;
}

.blog-content {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    overflow-wrap: break-word;
}

.blog-title {
    font-size: var(--section-header-font-size);
    color: var(--primary);
    margin-bottom: .25rem;
}

.blog-date {
    font-size: 1rem;
    color: var(--off-white);
    margin-top: 0;
}

.blog-text {
    font-size: var(--large-font-size);
    color: var(--off-white);
}

.footer-space {
    height: 10vh;
}

@media (max-width: 480px) {
    html {
        font-size: 10px;
    }

    .back-button {
        top: .5rem;
        left: 50%;
        transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
    }

    .blog-content {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
        overflow-wrap: break-word;
    }
}