:root {
    --background-color: #0F1A15;
    --text-color: #FAFBEF;
    --accent-color: #D8C38F; 
    --title-font-size: 12rem;
    --large-font-size: 3rem;
    --medium-font-size: 1.4rem;
    --small-font-size: 1rem;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: var(--text-color);
    font-weight: 400;
}

html {
    font-family: monospace;
    font-size: 14px;
    background-color: var(--background-color);
    scroll-behavior: smooth;
    text-align: center;
}

body {
    display: inline-block;
    text-align: left;
    width: 45%;
}

h1 {
    font-size: var(--large-font-size);
    margin: 0;
    margin-bottom: 1rem;
}

h2 {
    font-size: var(--medium-font-size);
    margin-bottom: 0;
}

#page-links {
    margin: 1rem 0;
}

a {
    color: var(--accent-color);
    cursor: pointer;
    text-decoration: none;
}

#container {
    display: flex;
    gap: 3rem;
}

#hidden {
    color: var(--background-color);
    cursor: default;
}

ul {
    margin: 0;
}

li {
    margin: 5px 0;
}

#project {
    margin: 0;
    margin-bottom: 1.5rem;
}
#project > p {
    margin-top: 6px;
    margin-bottom: 0;
}